@import "tailwindcss";

@theme {
  --color-paper: #f9f7f4;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

/* Esconde scrollbar mas mantém o scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE e Edge antigo */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}