@import "tailwindcss";

@theme {
  --color-paper: #f9f7f4;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}
